= link_to project_path(project) do
  .contents__main__projects__trip
    .contents__main__projects__trip__top
      - if project.image?
        .contents__main__projects__trip__top__image
          = image_tag project.image.thumb.url, class: "uploaded_image"
        .contents__main__projects__trip__top__status 申込受付前
    .contents__main__projects__trip__bottom
      .contents__main__projects__trip__bottom__user-image
      .contents__main__projects__trip__bottom__project-name
        = project.title
      .contents__main__projects__trip__bottom__project-date
        = project.start_at
        から
        = project.end_at
      .contents__main__projects__trip__bottom__project-member
        = project.participants.count
        人
      .contents__main__projects__trip__bottom__project-status-color
